<ion-content [fullscreen]="true">
  <div id="container">
    <ion-text color="secondary" style="text-align: center">
      <h2>{{currentQuestion?.question}}</h2>
    </ion-text>

    <br>
    <ion-list>
      <ion-item *ngFor="let answer of currentQuestion?.answers; let idx = index" (click)="verify(answer.correct)">
        <ion-label>{{ answer.answer }}</ion-label>
      </ion-item>
    </ion-list>

    <br>
    <br>
    <ion-button (click)="nextQuestion()">Next Question</ion-button>
    <ion-button (click)="navigateHome()">End</ion-button>
  </div>
</ion-content>
